/* Esercizio 1 */

.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background: red;
}

/* Esercizio 2 */

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* Esercizio 3 */

.ex-3-square {
    transition: 500ms;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* Eserciio 4 */

.ex-4-square {
    transition: 1s;
}

.ex-4-square:hover {
    background: transparent;
}

/* Eserciio 5 */

.ex-5-square {
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(2)
}

/* Esercizio 6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* Esercizio 7 */

.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: sepia(60%);
}

/* Esercizio 8 */

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: sepia(60%);
}

/* Esercizio 9 */

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    transform: scale(1.5);
    border-radius: 20px;
    filter: sepia(60%);
}

/* Esercizio 10 */

.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Esercizio 11 */

.ex-11-icon:hover {
    animation: slow-spin 2s linear;
}

@keyframes slow-spin {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(320deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Esercizio 12 */

.ex-12-button:hover .ex-12-top-white {
    animation: move-left 2s linear;
}


@keyframes move-left {   
    0% {
        left: 10%
    }

    50% {
        left: 65%
    }

    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: move-right 2s linear;
}

@keyframes move-right {
    0% {
        right: 20%
    }

    50% {
        right: 65%;
    }

    100% {
        right: 20%;
    }
}

/* Esercizio 13 */

.ex-13-button:hover .ex-13-top-white {
    animation: ride-left 5s linear;
    /* background-color: red; */
}


@keyframes ride-left {
    0% {
        left: 10%;
        top: -10px;
    }

    25% {
        left: calc(100% - 30px);
        top: -10px;
    }

    50% {
        left: calc(100% - 30px);
        top: 90%;
    }

    75% {
        left: 0;
        top: 90%;
    }

    85% {
        left: -10px;
        top: -10px;
    }

    100% {
        left: 10%;
        top: -10px;
    }
}   

.ex-13-button:hover .ex-13-bottom-white {
    animation: ride-right 5s linear;
    /* background-color: red; */
}

@keyframes ride-right {

    0% {
        right: 20%;
        bottom: -10px;
    }

    25% {
        right: calc(100% - 30px);
        bottom: -10px;
    }

    50% {
        right: calc(100% - 30px);
        bottom: 90%;
    }

    75% {
        right: 0%;
        bottom: 90%;
    }

    85% {
        right: -10px;
        bottom: -10px;
    }

    100% {
        right: 20%;
        bottom: -10px;
    }
}